<footer id="footer" class="footer" role="contentinfo">
  <div class="ctn">
    <div class="cols">
      <div class="cols-2 mod">
        <a href="/"><img src="/img/logo-muted.png" alt="Смоленский Очкарик"></a>
      </div
      ><nav class="footer-nav cols-2 mod clearfix">
        <a href="/content.html" class="footer-nav_i">О магазине</a>
        <a href="/content.html" class="footer-nav_i">Адреса магазинов</a>
        <a href="/content.html" class="footer-nav_i">Вакансии</a>
        <a href="/contact.html" class="footer-nav_i">Контакты</a>
        <a href="/content.html" class="footer-nav_i">Поставщикам</a>
        <a href="/content.html" class="footer-nav_i">Партнеры</a>
      </nav
      ><nav class="footer-nav cols-2 mod clearfix">
        <a href="/content.html" class="footer-nav_i">Акции</a>
        <a href="/content.html" class="footer-nav_i">Доставка</a>
        <a href="/content.html" class="footer-nav_i">Оплата</a>
        <a href="/content.html" class="footer-nav_i">Возврат и обмен</a>
      </nav
      ><div class="cols-2 mod">
        <nav class="footer-nav clearfix">
          <a href="/content.html" class="footer-nav_i">Изготовление</a>
          <a href="/content.html" class="footer-nav_i">Услуги</a>
          <a href="/content.html" class="footer-nav_i">Контактные линзы</a>
          <a href="/content.html" class="footer-nav_i">Очковые линзы</a>
        </nav>
        <nav class="social-nav">
          <a href="#" class="social-nav_i"><img src="/img/blank.gif" class="ico-22 ico-22__vk" alt="Вконтакте"></a>
          <a href="#" class="social-nav_i"><img src="/img/blank.gif" class="ico-22 ico-22__fb" alt="Facebook"></a>
        </nav>
      </div
      ><div class="cols-4 mod">
        <form class="subscribe">
          <input type="text" placeholder="Подписаться на рассылку" class="subscribe_input"><input type="submit" value="OK" class="subscribe_submit">
        </form>
        <div class="footer_copyright">&copy; 2013 Смоленский Очкарик</div>
      </div>
    </div>
  </div>
</footer>